<!DOCTYPE html>
<html>
<head>
  <title>Flashcards App - Start</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Welcome to the Flashcards App</h1>
  
  <div id="flashcardContainer">
    <h2>Flashcard:</h2>
    <div id="questionContainer"></div>
    <div id="answerContainer"></div>
    <div id="timeTakenContainer"></div>
    <div id="correctnessContainer"></div>
    <div id="timesFailedContainer"></div>
  </div>

  <button id="getFlashcardBtn">Get Flashcard</button>

  <script src="script.js"></script>
</body>
</html>
