<!DOCTYPE html>
<html>
<head>
  <title>Flashcards App - Start</title>
  <link rel="stylesheet" type="text/css" href="/static/main-page-style.css">
  <link rel="icon" type = "image/x-icon" href="/static/webData/favicon.png">

  <script src="/static/main-script.js" defer ></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="public, max-age=31536000">
  <meta http-equiv="X-Content-Type-Options" content="nosniff">

</head>
<body>
  <header>
    <a href="/" class="back-link">
        <img src="/static/webData/back.svg" class="back-icon" alt="Back" onerror="this.style.display='none'; document.querySelector('.back-link').textContent='Back';">
    </a>
    <h1>Welcome to the Flashcards App</h1>
  </header>

  <main>
    <div class="card">
      <div class="card-content">
        <h2 class="card-title">Flashcard Title</h2>
        <p class="card-description">Flashcard Description</p>
      </div>
    </div>
    

    <button id="getFlashcardBtn" onclick="getFlashcard()">Get Flashcard</button>
  </main>

</body>
</html>
