<!DOCTYPE html>
<html>
<head>
  <title>Flashcards App - Start</title>
  <link rel="stylesheet" type="text/css" href="/static/css/main-page-style.css">
  <link rel="icon" type = "image/x-icon" href="/static/webData/favicon.png">

  <script src="/static/js/main-script.js" defer ></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="public, max-age=31536000">
  <meta http-equiv="X-Content-Type-Options" content="nosniff">

</head>
<body onload="debounced_get()">
  <header>
    <a href="/" class="back-link">
        <img src="/static/webData/back.svg" class="back-icon" alt="Back" onerror="this.style.display='none'; document.querySelector('.back-link').textContent='Back';">
    </a>
    <h1>Welcome to the Flashcards App</h1>
  </header>

  <main>
    <div class="card-container" onclick="flipCard()">
      <div class="card">
        <div class="card-face card-face-front">
          <h2 class="card-question">-</h2>
        </div>
        <div class="card-face card-face-back">
          <p class="card-answer">-</p>
        </div>
      </div>
    </div>

    <button id="getFlashcardBtn" onclick="debounced_get()">Get Flashcard</button>
  </main>

</body>
</html>
